alembic==1.17.2
colorlog==6.10.1
contourpy==1.3.3
cycler==0.12.1
et_xmlfile==2.0.0
filelock==3.20.1
fire==0.7.1
fonttools==4.61.1
fsspec==2025.12.0
greenlet==3.3.0
ImageIO==2.37.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
lazy_loader==0.4
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.8
medmnist==3.0.2
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.0
openpyxl==3.1.5
optuna==4.6.0
packaging==25.0
pandas==2.3.3
pillow==12.0.0
pyparsing==3.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.16.3
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.45
sympy==1.14.0
termcolor==3.2.0
threadpoolctl==3.6.0
tifffile==2025.12.20
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.3
